
body {
    background: linear-gradient(30deg, #7466fe, #f46bb1 40%, #7466fe);
    background-attachment: fixed; /* ensures that the gradient-bg is fixed */
}


/* SECTION 1: WIDE */
.section-one {
    /* border: 2px solid red; */
    /* width: 100%; doesn't need because of normalize */

}

/* SECTION 1 CONTENT: CENTERED */
.div-section-one-content {
    align-items: center;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1229px;
    /* max-height: 1229px; */
    /* height: 100vh; too large for iPad */
    padding: 4em 0;
    width: 100%;
}

.div-section-one-content img {
    border-radius: 100%;
    box-shadow: var(--box-shadow-preset);
    height: 200px;
    max-width: 200px;
    margin-bottom: 10px;
    width: 100%;
}

.div-section-one-content h2 {
    color: var(--clr-white);
    font-size: 3em;
    font-weight: 600;
}

.div-section-one-content h1 {
    color: var(--clr-white);
    font-size: 3em;
    font-weight: 800;
    margin-top: -15px; /* to move IM JONAS.. closer to Hello, There text */
    text-align: center; /* just added for small devices to make it look more pleasant */
}

.div-section-one-content p {
    color: var(--clr-white);
    font-weight: 400;
    text-align: center;
    width: 40ch; /* for smaller device, fixed on media query below for larger */
}

.div-section-one-content input[type="submit"] {
    background-color: var(--clr-white);
    border: none;
    box-shadow: 0 10px 20px rgba(232, 223, 225, 0.5), 0 6px 6px rgba(254, 254, 254, 0.5), 0 0 100px -10px var(--clr-white); /* box shadow stuck on top of another */
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 10px;
    padding: 0.8em;
    transition: transform 0.3s, box-shadow 0.3s; /* ensure the smoothness of the hover */
}

.div-section-one-content input[type="submit"]:hover {
    transform: translateY(-3px); /* main reason why is it moving upward */
    box-shadow: 0 14px 28px rgba(255, 29, 72, 0.25), 0 10px 10px rgba(255, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}





/* SECTION 2: WIDE */
.section-two {
    /* border: 2px solid yellow; */
    padding-top: 3em; /* use for the text our "OUR SHOP OFFERS" */
}

.section-two > h2 {
    color: var(--clr-white);
    font-size: 2.7em;
    text-align: center;

}

/* section 2: centered */
.div-section-two-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1229px;
    padding: 1em 1em 3em;
    width: 100%;
}

.div-store-mission,
.div-store-security {
    align-items: center;
    border: 1px solid rgba(251, 252, 253, 0.627);
    box-shadow: var(--box-shadow-preset);
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 1.5em;
    transition: transform .3s, box-shadow .3s;
    width: 50ch;
}

.div-store-mission img,
.div-store-security img {
    max-height: 3250px;
    max-width: 250px;
}

.div-store-mission h2,
.div-store-security h2 {
    margin-top: 1em;
}

.div-store-mission p,
.div-store-security p {
    text-align: justify;
}

.div-store-mission:hover,
.div-store-security:hover {
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
    cursor: pointer;
    transform: translateY(-10px);
}

/* 768 ABOVE */
@media(min-width: 768px) {
    .div-section-one-content p {
        width: 60ch;
    }
}

/* 640 BELOW */
@media(max-width: 640px) {
    .div-section-one-content h2 {
        font-size: 1.6em;
        margin-bottom: 0.5em;
    }

    .div-section-one-content h1,
    .section-two h2 {
        font-size: 2.8em;   
        line-height: 1em;
    }
}

@media(max-width: 476px) {
    .div-section-one-content h2 {
        font-size: 1.4em;
    }

    .div-section-one-content h1,
    .section-two h2 {
        font-size: 2.5em;
    }

    .div-section-one-content p {
        width: 38ch;
    }
}